/*** Deloitte.Com CDA-Release 2.4 10/15/2003 Modified 11/14/03 Sai ***/
BODY
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana, Helvetica, sans-serif, Myuen;
    BACKGROUND-COLOR: #ffffff
}
A
{
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #336699
}
A.white:link
{
    COLOR: #ffffff
}
A:visited
{
    COLOR: #336699
}
A.white:visited
{
    COLOR: #ffffff
}
A:active
{
    TEXT-DECORATION: none;
}
A.white:active
{
    TEXT-DECORATION: none;
}
A.white:hover
{
    COLOR: #99CC00;
    TEXT-DECORATION: underline;
}
A:hover
{
    COLOR: #99CC00;
    TEXT-DECORATION: underline;
}
TD
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 5px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
LI
{
    FONT-SIZE: 12px;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
SELECT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Helvetica, sans-serif, Myuen
}
OPTION
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Helvetica, sans-serif, Myuen
}
INPUT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Helvetica, sans-serif, Myuen
}
P
{
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 15px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
H1
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 20px;
    MARGIN-BOTTOM: 15px;
    COLOR: #0067B9
;
    FONT-FAMILY: "Roboto", Times, serif, Sung
}
H2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 18px;
    COLOR: #0067B9
;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
H3
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 16px;
    COLOR: #0067B9
;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
H4
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #0067B9
;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.breadcrumb
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.breadcrumb A:hover
{
    COLOR: #99CC00;
    TEXT-DECORATION: underline
}
.breadcrumb A:visited
{
    COLOR: #800080
}
.breadcrumb P
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.hotTopicBox
{
    BORDER-RIGHT: #0067B9
 1px solid;
    BORDER-TOP: #0067B9
 1px solid;
    MARGIN: 0px 0px 1px 10px;
    BORDER-LEFT: #0067B9
 1px solid;
    BORDER-BOTTOM: #0067B9
 1px solid
}
.hotTopicBoxText
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #0067B9

}
.hotTopicBoxText P
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    COLOR: #fff;
    LINE-HEIGHT: normal;
    PADDING-TOP: 5px
}
.legalCopy
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.legalCopy P
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.mainTitle
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 25px;
    MARGIN-BOTTOM: 15px;
    COLOR: #0067B9
;
    FONT-FAMILY: "Roboto", Times, serif, Sung
}
.mainSubTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #0067B9
;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.pubPreviewTitle
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen;
    COLOR: #FFFFFF;
}
.related
{
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 15px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.related P
{
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 15px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.related A:hover
{
    COLOR: #99CC00;
    TEXT-DECORATION: underline
}
.related A:visited
{
    COLOR: #800080
}
.relatedBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 15px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.mainBody
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.mainBody P
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.mainBody A:hover
{
    COLOR: #99CC00;
    TEXT-DECORATION: underline
}
.mainBody A:visited
{
    COLOR: #800080
}
.mainBodyTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    MARGIN-BOTTOM: 5px;
    COLOR: #0067B9
;
    LINE-HEIGHT: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen;
    TEXT-DECORATION: none
}
.mainBodyTitle A:hover
{
    COLOR: #99CC00;
    TEXT-DECORATION: underline
}
.mainBodyTitle A:visited
{
    COLOR: #800080
}
.mainNav
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.mainNav A
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.mainNav A:active
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.mainNav A:hover
{
    COLOR: #000000;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.mainNav A:link
{
    COLOR: #ffffff;
}
.mainNav A:visited
{
    COLOR: #ffffff;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.mediumText
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.mediumText P
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.mediumTextTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #0067B9
;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen;
}
.scrollTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #0067B9
;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.scrollArea
{
    BORDER-RIGHT: #0067B9
 1px solid;
    PADDING-RIGHT: 15px;
    BORDER-TOP: #0067B9
 1px solid;
    MARGIN-TOP: 0px;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #0067B9
 1px solid;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #0067B9
 1px solid;
    BACKGROUND-COLOR: #ede8cb
}
.scrollArea P
{
    FONT-SIZE: 11px;
    COLOR: #0067B9
;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.scrollAreaNB
{
    BORDER-RIGHT: #0067B9
 1px solid;
    PADDING-RIGHT: 15px;
    BORDER-TOP: #0067B9
 1px solid;
    MARGIN-TOP: 0px;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #0067B9
 1px solid;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #0067B9
 1px solid;
    BACKGROUND-COLOR: #ede8cb
}
.scrollAreaNB
{
    MARGIN-BOTTOM: 0px;
    BORDER-BOTTOM: #ede8cb 0px solid
}
.securityLink
{
    FONT-SIZE: 10px;
    COLOR: #0067B9
;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.securityLink A:hover
{
    FONT-SIZE: 10px;
    COLOR: #99CC00;
    TEXT-DECORATION: underline
}
.securityLink A:active
{
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.securityLink A:link
{
    FONT-SIZE: 10px;
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.securityLink A:visited
{
    FONT-SIZE: 10px;
    COLOR: #800080
}
.smallText P
{
    FONT-SIZE: 10px;
    LINE-HEIGHT: normal
}
.cdaSmRedRError
{
    FONT-SIZE: 10pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.cdaSmRedRError P
{
    FONT-SIZE: 10pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen
}
.cdaAddRemoveBtn
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: #0066ff 1px solid;
    FONT-WEIGHT: 600;
    FONT-SIZE: 11px;
    BACKGROUND: #333399;
    BORDER-LEFT: #0066ff 1px solid;
    COLOR: white;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Myuen;
    TEXT-ALIGN: center
}
